.footerCustom {
    margin-top: 2em;
    bottom: 0;
    color: var(--footer-text);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    
    .linkFooter{
        color: #6b40ea;
        text-decoration: none;
        font-weight: bold;

        &:hover{
            color: #6b40ea;
            text-decoration: underline;
        }
    }
}