.footerCustom {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    
    .linkFooter{
        color: #7f5af0a0;
        text-decoration: none;
        font-weight: bold;

        &:hover{
            color: #7f5af0;
            text-decoration: underline;
        }
    }
}