@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.home-container {
    margin: auto;
    font-family: 'Poppins', sans-serif;

    .cardHomeLink{
        height: 10em;
    }

    .titleLink {
        color: white;
        background-color: transparent;

        @media (max-width: 576px) {
            font-size: 1em;
        }
    }

    .iconLink {
        color: white;
        background-color: transparent;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}