@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.home-container {
    margin: auto;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;

    .titleLink {
        color: white;
        background-color: transparent;
    }

    .iconLink {
        color: white;
        background-color: transparent;
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}