@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navText {
    font-family: 'Exo 2', sans-serif !important;
    color: #6b40ea;
    font-size: 1.4em;
    margin: auto;
}

.btn-theme-toggle {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: #6b40ea25;
    }

    .iconBtn {
        vertical-align: sub;
    }
}