@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.design-container {
    a{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    .cardSelectedLink {
        height: 18em;
        background-color: #111;
        border: 1px solid #222;
        padding: 1em;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        .linkIcon {
            border-radius: 50px;
            height: 1.2em;
            width: auto;
            vertical-align: sub;
        }

        .titleLink {
            color: white;
        }

        .linkDescript {
            color: gray;
        }



        &:hover {
            background-color: #7f5af022;
        }
    }






}