@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


.shiny-text {
  color: gray;
  font-family: 'Fira Code', monospace;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 40%,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}