.card-spotlight {
  position: relative;
  border-radius: 1em;
  background-color: var(--card-bg);
  border: none;
  padding: 1.2em;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  cursor: pointer;
}


.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}